---
layout: default
title: Past Event
header_color: blue
body_class: white-bg no-hero past-event
images:
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
- url: http://placecorgi.com/1100/500
thumbs:
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
- url: http://placecorgi.com/100/100
---

<section class="past-event-information">
  <div class="container">
    <div class="past-event-gallery">
      {% include component/carousels/gallery.html %}
    </div>
    <div class="event-info">
      <h2 class="headline-secondary">Name of Event</h2>
      <h3 class="date">January 12</h3>
      {% include component/typography/action-link.html body="View Next Event" class="uppercase" %}
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      <button class="owl-buttons gallery-prev">Previous Image</button>
      <button class="owl-buttons gallery-next">Next Image</button>
    </div>
  </div>
</section>

{% include component/media/full-width-promo.html name="Join the Community" body="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." icon="fa-mobile" form="Enter Your Phone #" %}
