<div class="question-container">
  <dl class="slider-container">
    <dt class="question">{{ include.question }}</dt>
    <dd class="range-container">
      <div class="question-slider no-ui-slider">
        <div class="slider"></div>
        <ul class="slider-labels">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
        </ul>
      </div>
    </dd>
  </dl>

  {% if include.question-position == "last" %}
    {% include component/forms/fieldset-form-action.html class="large secondary" value="Next Section" %}
  {% else %}
    {% include component/forms/fieldset-form-action.html class="large secondary next-question" value="Next Question" %}
  {% endif %}

  <div class="secondary-controls">
    <a class="back" href="#"><i class="fa fa-angle-left"></i> Back To {Last Section}</a>
    <a class="replay" id="replay-video" href="#"><i class="fa fa-rotate-right"></i> Replay</a>
  </div>
</div>
