<fieldset class="radio">
<label class="option upw"><input type="radio" name="event" /><span>UPW</span><span>Unleash The Power Within</span></label>
  <label class="option dwd"><input type="radio" name="event" /><span>DWD</span><span>Date With Destiny</span></label>
  <label class="option lwm"><input type="radio" name="event" /><span>LWM</span><span>Life &amp; Wealth Mastery</span></label>
  <label class="option bm"><input type="radio" name="event" /><span>BM</span><span>Business Mastery</span></label>
  <label class="option la"><input type="radio" name="event" /><span>LA</span><span>Leadership Academy</span></label>
  <label class="option lm"><input type="radio" name="event" /><span>LM</span><span>Leadership Mastery</span></label>
</fieldset>
