.commitment-level {
  .tab-content .btn {
    margin: 2em 0;
  }
}

.tabs-section {
  background-color: $gray-lightest;
  border-bottom: 1px solid $base-border-color;
  text-align: center;

  .headline-secondary {
    margin: 0 0 1em;
  }
}

.level-info-wrap {
  @include clearfix;
  position: relative;
}

.level-info {
  @include media($large) {
    @include span-columns(7);
  }

  .headline-tertiary {
    display: inline-block;
  }

  .price {
    color: $orange;
    font: em(26) $header-font-family;
  }

  img {
    display: block;
    margin-bottom: 1em;
  }

  p {
    color: tint($gray-dark, 30%);
    font: em(14) Georgia;
    line-height: em(25);
  }
}


.level-testimony {
  padding: 3em 1em;
  @include media($large) {
    @include span-columns(4);
    @include omega;
    padding: 0;
  }

  .quote-container {
    padding-bottom: 0;

    .quotation-mark {
      font-size: 19em;
    }

    .quote {
      font-size: 1.4em;
      line-height: 1.4em;
    }
  }

  .author {
    font: normal em(26) $header-font-family;
    text-transform: uppercase;
  }

  .group {
    color: tint($gray-dark, 30%);
    font-style: italic;
    font-family: Georgia;
  }

  .avatar-container {
    bottom:0;
    display: none;
    position: absolute;
    right: 0;
    @include media($large) {
      display: block;
    }
  }

  .avatar {
    border-radius:0;
    max-height: 300px;
    opacity: 0.25;
    position: relative;
    vertical-align: bottom;
    z-index: 1;
  }

  .author {
    padding-left: .65em;
  }

  .group {
    padding-left: 1.1em;
  }
}

.level-group {
  @include clearfix;
  background-color: $gray-lightest;
  border-top: 1px solid $gray-light;
  border-bottom: 3px solid $gray-light;
  clear: left;
  padding: 3%;

  .form-text, form {
    @include media($large) {
      @include span-columns(6);
    }
  }

  input[type="text"] {
    border:none;
    border-radius: 0;
    box-shadow:none;
    font-size:em(12);
    padding:2% 3%;
  }

  .first-name, .last-name {
    @include media($medium) {
      float: left;
      margin-right: 2%;
      width: 49%;
    }
  }

  .last-name {
    margin-right: 0;
  }

  .select-submit {
    label {
      display: inline-block;
      font-size: em(12);
      font-weight: normal;
      vertical-align: middle;
    }

    .chosen-container {
      width: 50px !important;
    }

    .btn {
      margin-bottom: 0;
      margin-left: .5em;
    }

    @include media($medium) {
      float: right;
    }
  }
}

