// ENDORSEMENTS CAROUSEL
section.endorsements {
  @include linear-gradient($white 0, $gray-lighter 90%, $fallback: $white);
  padding: 2em 0 0 0;

  .headline-secondary {
    color: rgba($gray-dark, 0.3);
    margin-bottom: 0;
    text-align: center;
    font-size: 4em;
  }

  .endorsements-carousel {
    @include media($medium) {
      margin-top: -2em;
    }

    @include media($large) {
      margin-top: -3.5em;
    }

    .owl-controls {
      margin: 0;

      .owl-buttons {
        .owl-prev {
          display: none;
        }

        .owl-next {
          @include position(absolute, null 0 0 null);
          background: none;
          color: $base-font-color;
          margin: 0 0 .5em;
          opacity: 1;
          padding: 0;
          text-transform: uppercase;

          &:hover {
            color: $base-accent-color;
          }

          span {
            display: inline-block;
            margin-top: .15em;
          }

          .fa {
            color: $base-accent-color;
            font-size: 1.75em;
            vertical-align: top;
          }
        }
      }
    }

    .owl-wrapper-outer {
      .owl-item {
        .item {
          position: relative;

          @include media($medium) {
            min-height: 375px;
          }

          .portrait {
            @include position(absolute, null null 0 0);
            display: none;

            @include media($medium) {
              display: block;
              width: 35%;
            }

            @include media($large) {
              margin-bottom: -25px;
            }

            .author-portrait {
              @include position(absolute, null null 0 0);
            }
          }

          .quote {
            color: rgba($gray-dark, 0.75);
            font-family: $serif;
            font-style: italic;
            line-height: 1.75em;
            padding: 3em 2em;

            @include media($medium) {
              margin: 2em 0 0 33.5%;
              width: 60%;
            }

            @include media($large) {
              margin: 2em 0 0 27.5%;
              padding: 5em 2em;
              width: 70%;
            }

            &:before {
              content: '“';
              position: absolute;
              font-size: 20em;
              margin-left: -0.1em;
              line-height: 0;
              margin-top: 0.26em;
              font-style: normal;
              opacity: 0.1;
            }
          }

          .author {
            @extend h3;
            color: $base-accent-color;
            font-style: normal;
            margin: 1em 0 0;
          }
        }
      }
    }
  }
}



