---
layout: default
title: Profile Overview
header_color: blue
body_class: white-bg no-hero
overlay: opt-in
tabs:
- url: /members-portal
  text: You Tests
- url: /#
  text: Something Else
---

<section class="profile-information">
  <div class="container">
    <aside class="content-aside">
      {% include component/members-portal/member-info.html src="http://placecorgi.com/464/264" member-name="Member Name" member-email="email@emailaddress.com" %}
    </aside>

    <article class="content-main attendance-information">
      {% include component/layout/blurb-block.html headline-secondary="You Tests" body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium enim non diam tempor posuere. Morbi posuere nibh eu magna eleifend, sed consectetur tortor tempus." class="you-tests-description" %}
      <ul class="grid-list">
        {% include component/layout/grid-list/grid-list-item-utest.html class="taken" title="My Quality Of Life" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." destination="identity-tests/results" %}

        {% include component/layout/grid-list/grid-list-item-utest.html class="taken" title="My Career" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." destination="identity-tests/results" %}

        {% include component/layout/grid-list/grid-list-item-utest.html title="My Wealth" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." destination="identity-tests" %}

        {% include component/layout/grid-list/grid-list-item-utest.html title="My Habits" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." destination="identity-tests" %}

        {% include component/layout/grid-list/grid-list-item-utest.html class="taken" title="My Energy" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." destination="identity-tests/results" %}

        {% include component/layout/grid-list/grid-list-item-utest.html class="testimonial" title="My Business" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." destination="identity-tests" %}
      </ul>
    </article>
  </div>
</section>

<div id="helpText">
  {% include component/typography/blockquote.html class="testimonial" src="http://placecorgi.com/400/300"  quote="Men may seem detestable as joint stock-companies and nations; knaves, fools, and murderers there may be" author="Tony Robbins" %}
</div>
