%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-family: 'function_prodemi';
  font-weight: bold;
  line-height: 1;
  margin-bottom: .5em;
  padding: 1em 3em .8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include media($medium) {
    font-size: .9em;
  }

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled, &:disabled:hover {
    background: $gray-light;
    border: $gray-light;
    color: $gray-dark;
  }
}
