---
layout: blank
---
{% include component/buttons/button.html class="small" value="Submit" %}
{% include component/buttons/button.html class="small secondary" value="Submit" %}

{% include component/buttons/button.html value="Submit" %}
{% include component/buttons/button.html class="secondary" value="Submit" %}

{% include component/buttons/button.html class="large" value="Submit" %}
{% include component/buttons/button.html class="large secondary" value="Submit" %}

{% include component/typography/action-link.html body="This is my action link" %}

{% include component/buttons/button-icon.html class="secondary" destination="#" iconClass="plus" value="Icon button" %}