---
layout: blank
---
{% include component/forms/fieldset-text.html name="name" label="Full Name" type="text" help="<p class='help'>Echo Park cornhole small batch seitan brunch Tumblr.</p>" %}

{% include component/forms/fieldset-text.html name="email" label="Email" type="email" placeholder="email@address.com" help="<p class='help'>Echo Park cornhole small batch seitan brunch Tumblr.</p>" %}

{% include component/forms/fieldset-text.html name="url" label="URL" type="text" placeholder="http://google.com" %}

{% include component/forms/fieldset-select.html name="select" label="This is my select label" %}

{% include component/forms/fieldset-radio.html name="radio" label="This is my radio label" %}

{% include component/forms/fieldset-textarea.html name="textarea" label="This is my textarea label" %}

{% include component/forms/fieldset-checkbox.html name="checkbox" label="This is my checkbox label" %}

{% include component/forms/fieldset-form-action.html value="Submit" %}