//HEADLINE STYLES
.headline-primary {
  font-size: $base-font-size * 7; // 16 * 5 = 90px
  margin-bottom: .25em;
}

.headline-secondary {
  font-size: $base-font-size * 3; // 16 * 2 = 32px
  line-height: 1;
  margin-bottom: .5em;
}

.headline-tertiary {
  font-size: $base-font-size * 1.75; // 16 * 1.5 = 20px
  line-height: 1;
  margin-bottom: .5em;
}

.headline-paragraph {
 font-size: $base-font-size * 1.25; // 16 * 1.25 = 18px
 line-height: 1;
 margin-bottom: .25em;
}
