.graph {
  canvas {
    border-bottom: 4px solid $gray-lighter;

    @include media($small-only) {
      width: 600px !important;
      height: 300px !important;
    }
  }
  .headline-secondary {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    margin: 0 .5em;

    @include media($small-only) {
      display: block;
      margin-bottom: 1em;
      text-align: left;
    }

    span {
      background-color:#ccc;
      content: " ";
      display: inline-block;
      height: .6em;
      margin-right: .4em;
      position: relative;
      top: -1px;
      width: 2em;
    }
  }
}

.graph-labels {
  margin: 0 auto;
}
