<!-- GRID LIST ITEM - CREDIT CARD -->
{% if include.cardNumber != null %}
<li class="item credit-card">
  <div class="card-avatar">
    {% if include.cardStatus == "Primary Card" %}<p class="primary-card">{{ include.cardStatus }}</p>{% endif %}
    <i class="fa fa-credit-card"></i>
  </div>

  <div class="card-information">
    <p class="card-type">{{ include.cardType }}</p>
    <p class="card-number">{{ include.cardNumber }}</p>
    <p class="expires">{{ include.cardExp }}</p>
    <p class="ccv">{{ include.cardCCV }}</p>
  </div>

  <div class="billing-address">
    <p><strong>Billing Address</strong></p>
    <p class="street-address">{{ include.streetAddress }}</p>
    <p class="suite-number">{{ include.suiteNumber }}</p>
    <p class="city-state">{{ include.cityState }}</p>
  </div>

  <div class="controls">
    <a href="#" id="card-edit" class="control" data-toggle="modal" data-target="#edit-card-{{ include.cardID }}"><i class="fa fa-pencil"></i> <span class="control-label">Edit Card</span></a>
    <a href="#" id="card-delete" class="control" data-toggle="modal" data-target="#delete-card-{{ include.cardID }}"><i class="fa fa-times"></i> <span class="control-label">Delete Card</span></a>
  </div>
</li>
<!-- EDIT CARD MODAL -->
<div class="modal fade" id="edit-card-{{ include.cardID }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn ghost close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="myModalLabel">Edit Card {{ include.cardID }}</h4>
      </div>
      <div class="modal-body">
        ( Edit Card Fields )
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-default">Save changes</a>
      </div>
    </div>
  </div>
</div>
<!-- /EDIT CARD MODAL -->

<!-- DELETE CARD MODAL -->
<div class="modal fade" id="delete-card-{{ include.cardID }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn ghost close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="myModalLabel">Delete Card {{ include.cardID }}</h4>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete card {{ include.cardID }}?
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-default">Delete Card</a>
      </div>
    </div>
  </div>
</div>
<!-- /DELETE CARD MODAL -->
{% endif %}
<!-- /GRID LIST ITEM - CREDIT CARD -->

