.credit-selector {
  display: inline;
  margin-bottom: 1em;

  label {
    font-family: $serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: normal;
    margin-right: 1em;

    @include media($small-only) {
      float: left;
    }
  }

  select {
    margin: 0 auto 1em;
  }
}
