<div id="nav-primary" class="nav-primary">
  <div class="primary-container">
    <nav class="primary-options">
      <h3 class="headline-paragraph"><a class="nav-item" href="/">Home</a></h3>
      <h3 class="headline-paragraph"><a class="nav-item" href="/events">Events</a></h3>
      <a class="nav-item nav-secondary-toggle" href="#"><i class="fa fa-th large"></i><span>Full Menu <i class="fa fa-caret-right"></i></span></a>
    </nav>

    <div class="personal-options">
      <a class="nav-item pill" href="#"><i class="fa fa-phone"></i> <span>Call Us</span></a>
    </div>
  </div>

  <nav id="secondary-options" class="secondary-options">
    <h3 class="headline">Events
      <div class="bar"></div>
    </h3>
    <div class="nav-category">
      <a class="nav-item" href="/events/upw"><i class="fa fa-image"></i>Unleash The Power Within</a>
      <a class="nav-item" href="/events/bm"><i class="fa fa-image"></i>Business Mastery</a>
      <a class="nav-item" href="/events/dwd"><i class="fa fa-image"></i>Date With Destiny</a>
    </div>

    <h3 class="headline">Identity Tests
      <div class="bar"></div>
    </h3>
    <div class="nav-category">
      <a class="nav-item" href="#"><i class="fa fa-image"></i>My Quality of Life</a>
      <a class="nav-item" href="#"><i class="fa fa-image"></i>My Business</a>
      <a class="nav-item" href="#"><i class="fa fa-image"></i>My Money</a>
    </div>
  </nav>
</div>
