<div id="overlay" class="overlay{% if page.overlay == "opt-in" %} opt-in{% endif %}">
  {% if page.overlay == "opt-in" %}
  <!-- NEWSLETTER OPT-IN -->
  <div id="newsletter-options" class="newsletter-options active">
    <form class="options container">
      <header>
        <h2 class="headline-paragraph">Subscribe To A Newsletter!</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
      </header>

      <fieldset class="check all">
        <label>
          <input type="checkbox" />
          <span><i class="fa fa-check"></i></span> Subscribe to All Newsletters
        </label>
      </fieldset>
      <div class="newsletter-carousel">
        <div class="item">
          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Career</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>

          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Health</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>
        </div>

        <div class="item">
          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Money</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>

          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Family</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>
        </div>

        <div class="item">
          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Relationships</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>

          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Children</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>
        </div>

        <div class="item">
          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Career</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>

          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Money</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>
        </div>

        <div class="item">
          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Health</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>

          <fieldset class="check option">
            <label>
              <input type="checkbox" />
              <span><i class="fa fa-check"></i></span>
              <div class="option-body">
                <h4 class="headline-paragraph">Family</h4>
                <img src="http://placecorgi.com/150/150">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
              </div>
              <footer>
                <p><span>Monthly</span><span class="subscribers">23k Subscribers</span></p>
              </footer>
            </label>
          </fieldset>
        </div>
      </div>
      <a class="btn newsletter-toggle" href="#">Enter The Members Portal</a>
    </form>
    <!-- /NEWSLETTER OPT-IN -->
    {% endif %}
  </div>
</div>
