---
layout: blank
---
{% include component/layout/grid-list/grid-list-item.html class="full-width" group="upw" title="Unleash The Power Within" commitment="Diamond Premier in Dallas, TX" buttonValue="Check In" %}

{% include component/layout/grid-list/grid-list-item-utest.html class="taken" title="Grid List Item Title" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr." %}

{% include component/layout/grid-list/grid-list-item-testimonial.html class="testimonial" month="Oct" day="24" title="Unleash The Power Within" commitment="Diamond Premier in Alagir, Republic of North Ossetia–Alania" %}

{% include component/layout/grid-list/grid-list-item-credit-card.html cardStatus="Primary Card" cardType="Visa" cardNumber="•••• •••• •••• 1432" cardExp="04/17" cardCCV="197" streetAddress="12 Fountain Square Blvd." suiteNumber="Apt 752" cityState="Beverly Hills, FL" %}
