<div class="product-highlights">
  <h3 class="title-highlights">Highlights</h3>
  <ul class="list-default">
    {% if include.item1 != null %}
      <li>{{ include.item1 }}</li>
    {% endif %}

    {% if include.item2 != null %}
      <li>{{ include.item2 }}</li>
    {% endif %}

    {% if include.item3 != null %}
      <li>{{ include.item3 }}</li>
    {% endif %}

    {% if include.item4 != null %}
      <li>{{ include.item4 }}</li>
    {% endif %}

    {% if include.item5 != null %}
      <li>{{ include.item5 }}</li>
    {% endif %}

    {% if include.item6 != null %}
      <li>{{ include.item6 }}</li>
    {% endif %}
  </ul>
</div>
