.member-information {
  .event-information {
    .header-article {
      @include clearfix;
      margin-bottom: .5em;
      padding: .5em 0;
    }

    .check-in {
      margin-bottom: 1em;
      text-align: center;

      @include media($medium) {
        float: left;
        margin-right: 1.5em;
      }
    }

    .credit-information {
      text-transform: uppercase;

      @include media($small-only) {
        text-align: center;
      }

      @include media($medium) {
        font-size: .9em;
      }

      .remaining-credits {
        display: block;
        font-family: 'function_prodemi';
        font-size: .9em;
      }
    }
  }
}
