<fieldset class="expiration {{ include.class }}">
  <!-- Month dropdown -->
  <div class="{{ include.class }}">
    <label>Month</label>
    <select name="month" id="month" onchange="" size="1" >
      <option value="14">January</option>
      <option value="15">February</option>
      <option value="16">March</option>
      <option value="17">April</option>
      <option value="18">May</option>
      <option value="19">June</option>
      <option value="20">July</option>
      <option value="">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div class="{{ include.class }}">
    <!-- Year dropdown -->
    <label>Year</label>
    <select name="day" id="day" onchange="" size="1">
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select>
  </div>
</fieldset>
