<!-- INVITATION FORM -->
<div class="form-fields">
  <div class="fieldset-wrap">
    {% include component/forms/fieldset-text.html class="half" name="first-name" type="text" placeholder="First Name" help="<p class='help'>Please enter your first name.</p>" %}

    {% include component/forms/fieldset-text.html class="half" name="last-name" type="text" placeholder="Last Name" help="<p class='help'>Please enter your last name.</p>" %}
  </div>

  {% include component/forms/fieldset-text.html name="email" type="email" placeholder="email@address.com" help="<p class='help'>Please enter your email address.</p>" %}
</div>
{% include component/forms/fieldset-form-action.html value="Continue" class="secondary next-step" %}
<!-- /INVITATION FORM -->
