<!-- QUOTE CAROUSEL -->
<div class="endorsements-carousel">
  <div class="item">
    <div class="portrait">
      <img class="author-portrait" src="http://img.estaticos-atleticodemadrid.com/system/foto_listados/2316/thumb_300x400/02_moya.png?1409589659">
    </div>
    <div class="quote">
      <p>Suspendisse sit amet libero quis mi elementum porttitor. Ut enim lacus, ultricies sed venenatis at, tristique ac dolor. Nulla venenatis quam in ligula molestie aliquet.</p>
      <p class="author">john doe</p>
    </div>
  </div>

  <div class="item">
    <div class="portrait">
      <img class="author-portrait" src="http://img.estaticos-atleticodemadrid.com/system/foto_listados/2315/thumb_300x400/02_oblak.png?1409589686">
    </div>
    <div class="quote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus ante erat, nec sagittis arcu fringilla sed. Aenean auctor porttitor ex, ac consequat tortor elementum at. Praesent vitae commodo eros. Etiam blandit nulla sed quam scelerisque imperdiet.</p>
      <p class="author">jane doe</p>
    </div>
  </div>

  <div class="item">
    <div class="portrait">
      <img class="author-portrait" src="http://img.estaticos-atleticodemadrid.com/system/foto_listados/2316/thumb_300x400/02_moya.png?1409589659">
    </div>
    <div class="quote">
      <p>Nam ac augue eu leo consequat luctus in ac justo. Vestibulum eu volutpat nisi. Integer fermentum bibendum est vel semper. Fusce fringilla libero sit amet lectus fringilla volutpat. Vivamus eget velit maximus, facilisis leo quis, lacinia ligula. Nunc a eros sit amet turpis faucibus posuere sit amet sed diam.</p>
      <p class="author">jimmy doe</p>
    </div>
  </div>
</div>
<!-- /QUOTE CAROUSEL -->
