<!-- IMAGE WITH CONTENT -->
<div class="image-content{% if include.class != null %} {{ include.class }}{% endif %}">
  {% if include.src != null %}<img class="media-object" src="{{ include.src }}">{% endif %}
  <div class="copy">
    {% if include.headline2 != null %}<h3>{{ include.headline2 }}</h3>{% endif %}
    {% if include.body2 != null %}<p class="body-copy">{{ include.body2 }}</p>{% endif %}
    {% if include.link != null %}
    {% include component/typography/action-link.html body=include.link class="uppercase" %}
    {% endif %}
    <h3 class="{{ include.headlineClass }}">{{ include.headline }}</h3>
    {% if include.body != null %}<p class="body-copy">{{ include.body }}</p>{% endif %}
    {% if include.button != null %}{% include component/buttons/button-icon.html destination=include.destination value=include.button class="primary" %}{% endif %}
  </div>
</div>
<!-- /IMAGE WITH CONTENT -->
