<!-- MEDIA BLOCK BLOG LARGE -->
<a class="media-block large{% if include.class != null %} {{ include.class }}{% endif %}" href="{{ include.destination }}">
  <img class="media-object" src="{{ include.src }}">
  {% if include.headline != null %}<figcaption class="media-body">
  {% if include.classStatus != null %}
    <header class="header-media-block {{ include.classStatus }}">
      {% if include.classStatus == "viewed popular" %}
      <div class="popular-icon">
        <i class="fa fa-line-chart"></i> Popular
      </div>

      <i class="viewed-icon fa fa-eye"></i>

    {% elsif include.classStatus == "popular" %}
      <div class="popular-icon">
        <i class="fa fa-line-chart"></i> Popular
      </div>
    {% elsif include.classStatus == "viewed" %}
      <i class="viewed-icon fa fa-eye"></i>
    {% endif %}
    </header>{% endif %}

    <div class="body">
      {% if include.category != null %}
      <div class="category">
        {{ include.category }}
        <div class="bar"></div>
      </div>{% endif %}
      <h4 class="headline-paragraph">{{ include.headline }}</h4>
      <p class="body-copy">{{ include.body }}</p>
    </div>
    </figcaption>{% endif %}
</a>
<!-- /MEDIA BLOCK BLOG -->
