<div class="media-grid-events-large">
  <header>
    <h3 class="headline-secondary">Stories</h3>
    {% include component/typography/action-link.html body="See All" %}
  </header>
  <div class="media-grid-large events">
    <div class="column-small column-left">
      {% include component/media/media-block.html src="http://placecorgi.com/377/377" %}
      <div class="three-across">
        {% include component/media/media-block.html src="http://placecorgi.com/112/112" %}
        {% include component/media/media-block.html src="http://placecorgi.com/112/112" %}
        {% include component/media/media-block.html src="http://placecorgi.com/112/112" %}
      </div>
      <div class="two-across">
        {% include component/media/media-block.html src="http://placecorgi.com/245/245" %}
      </div>
      <div class="one-across">
        {% include component/media/media-block.html src="http://placecorgi.com/112/112" %}
        {% include component/media/media-block.html src="http://placecorgi.com/112/112" %}
      </div>
    </div>

    <div class="column-large">
      {% include component/media/media-block.html id="medium-one" src="http://placecorgi.com/425/425" class="medium" headline="This is a sample headline and such" body="Some details about this headline" %}
    </div>
  </div>
</div>
