.events-stories {

  .story-quotes {
    blockquote {
      margin: 0;
      text-align: center;

      .quote-container {
        font-size: 1.25em;
        max-width: 530px;
        padding: 0;

        .quote {
          margin: 0 auto .5em;
        }

        .author {
          margin: 0 auto;
        }
      }
    }
  }


  .learn-more {
    .full-width-promo {
      margin-bottom: 0;

      .ad-info {
        @include media($large) {
          @include span-columns(4);
        }

        .headline-secondary {
          font-size: 2.5em;
        }
      }

      .action-items {
        margin: 1% 0 0;
        padding: 0;
        width: 100%;

        @include media($large) {
          width: 65%;
        }

        input {
          width: 100%;

          @include media($large) {
            float: left;
            margin-right: 2%;
            width: 48%;
          }
        }
      }
    }
  }
}
