---
layout: default
title: Stories
body_class: events upw events-stories

tabs:
- url: ../
  text: Overview
- url: ../stories
  text: Stories
- url: ../steps
  text: 4 Steps To Transformation
- url: ../impact
  text: Impact
- url: ../accommodations
  text: Accommodations
- url: ../faq
  text: FAQ
---

{% include component/media/hero-event.html src="/content/images/hero-sample.jpg" primary="Get Ready" fullName="Unleash The Power Within" initials="UPW" location="Zanzibar" value="Buy Tickets" %}

{% include component/layout/tabs.html class="uppercase scroll" takeActionURL="../take-action" %}

{% include component/media/media-grid-events.html %}
